/**
 * Editor de contenido de WP
 *
 * @since 1.0.0
 */

@import "abstracts/breakpoints";
@import "abstracts/mixins";
@import "abstracts/functions";
@import "abstracts/variables";

body .editor-styles-wrapper {
	line-height: 1.5;
	font-family: var(--startwp--font-family--main);

	// Bloques principales sin alineación.
	.edit-post-visual-editor__post-title-wrapper > :where(:not(.alignleft, .alignright, .alignwide, .alignfull)),
	.block-editor-block-list__layout.is-root-container > :where(:not(.alignleft, .alignright, .alignwide, .alignfull)) {
		max-width: var(--startwp--content-width--main, #{$narrow-width});
		padding-right: 0.5em;
		padding-left: 0.5em;
	}

	// Bloques con fondo.
	.wp-block.has-background {
		max-width: calc(var(--startwp--content-width--main, #{$narrow-width}) - 2em);
		padding-right: 1em;
		padding-left: 1em;
	}

	// Elementos anchos.
	.block-editor-block-list__layout.is-root-container > .alignwide {
		max-width: var(--startwp--content-width--main, #{$narrow-width + 100});
	}

	h1,
	.wp-block-post-title {
		font-size: $fs-heading-1;
	}
	h2 {
		font-size: $fs-heading-2;
	}
	h3 {
		font-size: $fs-heading-3;
	}
	h4 {
		font-size: $fs-heading-4;
	}

	.has-drop-cap:not(:focus)::first-letter {
		margin: 0.06em 0 0 -0.085em;
		font-size: 7.2em; // 4 lineas aprox.
		font-weight: inherit;
	}

	// Listas.
	.wp-block-list {
		padding-left: 1.5em !important;
	}

	// Citas (estilos iguales del frente).
	.wp-block-quote {
		padding: 0.8em 0.8em 0.8em clamp(0.8em, 2vw, 1.5em);
		border-left: 5px solid var(--startwp--color--foreground);

		&.is-style-plain {
			border: none;
		}

		cite {
			font-style: italic;
		}
	}

	pre,
	code {
		padding: 0.2em 0.45em 0.45em;
		font-size: 0.9em;
		font-family: monospace, monospace;
		border: 1px solid #d4d4d4;
		border-radius: $border-radius;
	}

	code {
		padding: 0 0.35em 0.1em;
		line-height: 1.4;
		background-color: #ebebeb;
		font-size: rem(14);

		&,
		* {
			white-space: pre-wrap;
		}
	}

	// Evitar estilos dobles porque el bloque de código inserta un elemento code
	// dentro de un elemento pre.
	.wp-block-code code {
		padding: 0;
		background-color: transparent;
		border: none;
	}

	iframe {
		width: 100%;
	}

	// Corrección en el elemento salto de página para evitar problemas si hay
	// elementos flotantes (alineados a la derecha o izquierda).
	.wp-block.wp-block-nextpage::before {
		content: "";
		display: table;
		table-layout: fixed;
		clear: both;
		position: static;
	}

	// Botones.
	.wp-block-button__link {
		padding: 0.417em 1em;
		color: var(--startwp--color--background);
		background-color: var(--startwp--color--foreground);
		border-radius: $border-radius;

		&:hover {
			opacity: $link-hover;
		}
	}
}
