{
	"extends": [
		"plugin:@wordpress/eslint-plugin/es5",
		"plugin:@wordpress/eslint-plugin/esnext"
	],
	"globals": {
		"document": "readonly",
		"window": "readonly",
		"location": "readonly",
		"navigator": "readonly",
		"wp": "readonly",
		"_": "readonly",
		"NodeList": "readonly",
		"Element": "readonly"
	},
	"rules": {
		"indent": [
			"error"
		],
		"no-multi-spaces": 0,
		"no-tabs": 0,
		"no-unused-vars": 0,
		"no-undef": 0,
		"space-unary-ops": 0,
		"wrap-iife": [
			"error",
			"inside"
		]
	},
	"parserOptions": {
		"ecmaVersion": 2017,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true,
			"modules": true
		}
	},
	"env": {
		"es6": true,
		"browser": true
	}
}
