/**
 * Páginas y entradas individuales
 *
 * @since 1.0.0
 */

// Meta info y contenido principal.
.entry-meta,
.entry-content:where(:not(:last-child)) {
	margin-bottom: 1.5em;
}

// Navegación de entradas y comentarios.
.post-navigation,
.comments-area {
	@extend .wrapper;
	padding-top: 1em;
	padding-bottom: 1em;
}

.post-navigation {
	margin-top: 1em;
	margin-bottom: 1em;
}

.comments-area {
	margin-top: 1em;
}
