/**
 * Páginas y entradas individuales
 *
 * @since 1.0.0
 */

// Meta info y contenido principal.
.entry-meta,
.entry-content:where(:not(:last-child)) {
	margin-bottom: 1.5em;
}

// Navegación de entradas.
.navigation {
	@extend .wrapper;
	padding-top: 1em;
	padding-bottom: 1em;
}

.navigation {
	margin-top: 1em;
	margin-bottom: 1em;

	.nav-links {
		display: flex;
		justify-content: space-between;

		a {
			&:hover {
				text-decoration: none;

				.nav-title {
					text-decoration: underline;
				}
			}

			&:focus {
				outline: none;

				.nav-title {
					outline: 2px dotted var(--startwp--color--primary);
				}
			}
		}
	}

	.nav-subtitle {
		display: block;
		color: var(--startwp--color--foreground);
		font-weight: normal;
	}

	.nav-next {
		margin-left: auto;
		text-align: end;
	}
}
