/**
 * Alertas y notificaciones
 *
 * @since 1.0.0
 */

// Mensajes
// ----------------------------------------------
.comments-area .no-comments,
[class*="message-"] {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: $padding-content;
	box-shadow: 0 3px 10px var(--startwp-main-border);
	border-radius: 4px;

	li {
		margin-left: $padding-content * 1.25;
	}

	svg {
		font-size: 1.6em;
	}
}

.message {
	&-info {
		color: var(--startwp--color--white);
		background-color: var(--startwp--color--accent);
	}

	&-success {
		color: var(--startwp--color--white);
		background-color: var(--startwp--color--success);
	}

	&-error {
		color: var(--startwp--color--white);
		background-color: var(--startwp--color--error);
	}
}

.comments-area .no-comments {
	@extend .message-info;
}

//
// Alertas
// ----------------------------------------------
.alert {
	width: 100%;
	position: fixed;
	z-index: 999999;
	right: 0;
	bottom: 0;
	left: 0;
	padding: $margin-content;
	margin: auto;
	line-height: 1.8;
	font-size: 1.1em;
	transform: translate3d(0, 100%, 0);

	@include to(medium) {
		padding: 1rem;
	}

	&--visible {
		animation: showAlert 2.5s forwards;
		@keyframes showAlert {
			85% {
				transform: translate3d(0, 100%, 0);
			}

			100% {
				transform: translate3d(0, 0, 0);
			}
		}
	}

	&--hide {
		animation: hideAlert 2.5s forwards;
		@keyframes hideAlert {
			0% {
				transform: translate3d(0, 0, 0);
			}

			15% {
				transform: translate3d(0, 100%, 0);
			}
		}
	}

	&__content {
		width: 100%;
		max-width: var(--startwp--content-width--main, 1100px);
		margin-right: auto;
		margin-left: auto;
	}

	// No mostrar de nuevo.
	label {
		font-size: 0.8em;
	}

	// Checkbox.
	input {
		margin-right: 0.35em;
	}

	// Ícono de fondo.
	svg {
		position: absolute;
		top: calc(50% - 0.5em);
		left: 0;
		font-size: 10em;
		opacity: 0.05;
	}

	// Enlaces.
	a {
		color: currentColor;
		font-weight: bold;
		text-decoration: underline;
	}
}

//
// No JS
// ----------------------------------------------
.alert__no-js {
	min-height: 16rem;
}

//
// Botón para cerrar alertas
// ----------------------------------------------
button.btn__alert-close {
	height: auto;
	padding: 0.25em 1em;
	margin-left: 1em;
	font-size: 1em;
}
