/**
 * Botones
 *
 * @since 1.0.0
 */

.btn,
button,
.wp-block-button__link,
.wp-block-file .wp-block-file__button,
[type="button"],
[type="reset"],
[type="submit"] {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: auto;
	padding: 0.417em 1em;
	margin: 0;
	color: var(--startwp--color--background);
	background-color: var(--startwp--color--foreground);
	font-weight: normal;
	border-radius: $border-radius;
	cursor: pointer;

	&:hover {
		text-decoration: none;
		opacity: $link-hover;
	}
}

// Contenedor de botones.
// @since-wp 6.1
.wp-block-buttons {
	display: flex;

	&:not(.is-vertical) .wp-block-button:not(:last-child) {
		margin-right: 1em;
	}

	&.is-vertical .wp-block-button:not(:last-child) {
		margin-bottom: 1em;
	}
}

// Botones para descargar archivos.
// @since-wp 6.1 (wp-element-button).
.wp-block-file:not(.wp-element-button),
.wp-block-file .wp-block-file__button {
	font-size: 0.88em;
}

// Separación entre botones y algún contenido previo en la misma linea.
// (input, enlace, etc).
.wp-block-search__button,
.password-form__submit,
.wp-block-file .wp-block-file__button {
	margin-left: 0.35rem;
}

.btn-primary,
.wp-block-file .wp-block-file__button {
	color: var(--startwp--color--white);
	background-color: var(--startwp--color--primary);
}

.btn-secondary {
	color: var(--startwp--color--black);
	background-color: var(--startwp--color--secondary);
}

.btn-accent {
	color: var(--startwp--color--white);
	background-color: var(--startwp--color--accent);
}

.btn-success,
input[type="submit"] {
	color: var(--startwp--color--white);
	background-color: var(--startwp--color--success);
}

.btn-warning,
input[type="reset"] {
	color: var(--startwp--color--white);
	background-color: var(--startwp--color--warning);
}

.btn-error {
	color: var(--startwp--color--white);
	background-color: var(--startwp--color--error);
}
