/**
 * Formularios
 *
 * @since 1.0.0
 */

//
// Formulario de comentarios - TODO: Descomentar para utilizar.
// ----------------------------------------------
/*
.comment-form {
	@include from(medium) {
		p:not(.comment-notes, .comment-form-cookies-consent) {
			display: flex;
			align-items: flex-start;

			label {
				min-width: 11rem;
			}
		}
	}

	.comment-form-cookies-consent {
		position: relative;
		padding-left: 1.5rem;

		input {
			position: absolute;
			left: 0;
			top: 0.25rem;
		}
	}
}
*/
